 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/sdf-min-14.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 622px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(49,51,94,0.4);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  margin: 123px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-weight: 300;
  font-size: 1.875rem;
  font-family: Lato, sans-serif;
  text-transform: none;
  width: 714px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 618px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 643px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 523px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 161px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 523px;
  background-image: url("images/0b9e2adcd40b253cee08d26bf049a258c4ba20b040addc869bca9ddcf113e264742196162f3d24ecf681fe6def7c0679e165cff4eddf8f0a366203_1280.jpg");
  background-position: 50% 50%;
  background-size: 130%;
}

.u-section-2 .u-container-layout-2 {
  padding: 8px 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 61px;
  }

  .u-section-2 .u-image-1 {
    min-height: 431px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 392px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 247px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 810px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 76px auto 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 4px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 25px auto 0;
}

.u-section-3 .u-icon-1 {
  width: 279px;
  height: 279px;
  margin: 121px 413px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-icon-1 {
    margin-right: 341px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-icon-1 {
    margin-right: 261px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-icon-1 {
    margin-right: 196px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-icon-1 {
    margin-right: 123px;
  }
}